{% extends "./administrador/layout.twig" %}
{% block content %}
<script src="{{'assets/js/tabla_administracion.js' | url}}"></script>
<script src="{{'assets/js/jquery-3.1.1.min.js' | url}}"></script>
<script src="{{'assets/js/jquery.dataTables.min.js' | url}}"></script>
<link href="{{'assets/css/jquery.dataTables.min.css' | url}}" rel="stylesheet">
	<div class="container">
		<div class="row">
  			<div class="col-md-12">
				<h2 style="text-align:center">Articulos de El Surtidor de la frontera C.A</h2>
			</div>

  		</div>

  		<div class="row" style="margin-left: 5%;">
  			<div class="col-md-12">
  				<a href="{{'administrador/articulos' | url}}" class="btn btn-info btn-lg">
		        	<span class="glyphicon glyphicon-cog"></span> Administar
		        </a>
		        <a href="{{'administrador/articulos/agregar' | url}}" class="btn btn-info btn-lg">
		        	<span class="glyphicon glyphicon-plus"></span> Agregar
		        </a>
		        <a href="historial.php" class="btn btn-info btn-lg">
		        	<span class="glyphicon glyphicon-calendar"></span> Historial
				</a>
				<a href="estadistica.php" class="btn btn-info btn-lg">
					<span class="glyphicon glyphicon-stats"></span> Estadistica de Ventas
				</a>
  			</div>
  		</div>

  		<br>

		<div class="row table-responsive">
			<div class="col-md-12">
				<table class="display" id="mitabla">
					<thead>
						<tr>
							<th>ID</th>
							<th>Referencia</th>
							<th>Nombre</th>
							<th>Clientela</th>
							<th>Categoria</th>
							<th>Cantidad</th>
							<th>Precio</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
				</table>


							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		{% endblock %}
