{% extends "./administrador/layout.twig" %}
{% block content %}
	<script src="{{'assets/js/combobox1.js' | url}}"></script>
	<script src="{{'assets/js/combobox2.js' | url}}"></script>
	<div class="container">
		<div class="col-md-12">

			<div class="row" style="margin-left: 5%;">
				<div class="col-md-12">
					<a href="{{'administrador/articulos' | url}}" class="btn btn-info btn-lg">
							<span class="glyphicon glyphicon-cog"></span> Administar
						</a>
						<a href="{{'administrador/articulos/agregar' | url}}" class="btn btn-info btn-lg">
							<span class="glyphicon glyphicon-plus"></span> Agregar
						</a>
						<a href="historial.php" class="btn btn-info btn-lg">
							<span class="glyphicon glyphicon-calendar"></span> Historial
				</a>
				<a href="estadistica.php" class="btn btn-info btn-lg">
					<span class="glyphicon glyphicon-stats"></span> Estadistica de Ventas
				</a>
				</div>
			</div>

			<h2><center>Agregar articulo.</center></h2>
			<form name="agregar_producto" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{{'administrador/articulos/guardado_articulo' | url}}" autocomplete="off">
  			<br>

			<div class="form-group">
				<label for="referencia" class="col-sm-2 control-label">Referencia</label>
					<div class="col-sm-10">
						<input type="number" class="form-control" id="referencia" name="referencia" placeholder="112233" required>
					</div>
			</div>

			<div class="form-group">
				<label for="nombre" class="col-sm-2 control-label">Nombre</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del articulo" required>
				</div>
			</div>

			<div class="form-group">
				<label for="clientela" class="col-sm-2 control-label">Clientela</label>
				<div class="col-sm-10">
					<select class="selectpicker" id="clientela" name="clientela" required>
						<option value="Dama">Dama</option>
				    	<option value="Caballero">Caballero</option>
					    	<option value="Ninos">Niños</option>
				    	<option value="Bebes">Bebés</option>
				    	<option value="Hogar">Hogar</option>
							<option value="Otros">Otros</option>
					</select>
				</div>
			</div>


			<div class="form-group">
				<label for="categoria" class="col-sm-2 control-label">Categoria</label>
				<div class="col-sm-10">
					<select class="selectpicker" id="categoria" name="categoria" required>
						<option value="Ropa intima">Ropa intima</option>
						<option value="Medias">Medias</option>
						<option value="Camisa">Camisa</option>
						<option value="Pantalon">Pantalon</option>
						<option value="Falda">Falda</option>
						<option value="Pijama">Pijama</option>
						<option value="Traje de Baño">Traje de Baño</option>
						<option value="Accesorio">Accesorio</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="talla" class="col-sm-2 control-label">Talla</label>
				<div class="col-sm-10">
					<select  class="selectpicker" id="talla" name="talla[]" multiple required>
						<option value="S">S</option>
						<option value="M">M</option>
						<option value="L">L</option>
						<option value="XL">XL</option>
						<option value="XXL">XXL</option>
						<option value="3XL">3XL</option>
						<option value="4XL">4XL</option>
						<option value="5XL">5XL</option>
						<option value="6XL">6XL</option>
					</select>
				</div>
			</div>

			<div class="form-group">
				<label for="color" class="col-sm-2 control-label">Color</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="color" name="color"required>
				</div>
			</div>

			<div class="form-group">
				<label for="color" class="col-sm-2 control-label">Marca</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="marca" name="marca"required>
				</div>
			</div>


			<div class="form-group">
				<label for="color" class="col-sm-2 control-label">Material</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="material" name="material"required>
				</div>
			</div>

			<div class="form-group">
				<label for="color" class="col-sm-2 control-label">Descripcion</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="descripcion" name="descripcion"required>
				</div>
			</div>

			<div class="form-group">
				<label for="cantidad" class="col-sm-2 control-label">Cantidad</label>
				<div class="col-sm-10">
					<p><input type="number" id="color" name="cantidad" required="required" placeholder="0">Unidades</p>
				</div>
			</div>

			<div class="form-group">
				<label for="precio" class="col-sm-2 control-label">Precio por unidad</label>
				<div class="col-sm-10">
					<p><input type="number" step="0.01" name="precio" required="required" placeholder="00,00">Bsf</p>
				</div>
			</div>

			<div class="form-group">
				<label for="archivo" class="col-sm-2 control-label">Imagen .jpeg</label>
				<div class="col-sm-10">
					<input name="archivo[]" id="archivo[]" multiple="" class="form-control" accept="image/jpg" type="file"/ required>
				</div>
			</div>


			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<a href="administracion_articulos.php" class="btn btn-default">Regresar</a>
					<input type="submit" class="btn btn-primary" value="Guardar">
				</div>
			</div>
			</form>
		</div>
	</div>
	{% endblock %}
