{% extends "./administrador/layout.twig" %}
{% block content %}
	<script src="{{'assets/js/combobox3.js' | url}}"></script>
	<script src="{{'assets/js/combobox4.js' | url}}"></script>
	<script type="text/javascript">
			$(document).ready(function() {
				$('.delete').click(function(){
					var parent = $(this).parent().attr('referencia');
					var service = $(this).parent().attr('data');
					var dataString = 'referencia='+service;

					$.ajax({
						type: "POST",
						url: "../private/del_file.php",
						data: dataString,
						success: function() {
							location.reload();
						}
					});
				});
			});
		</script>

	<script language="JavaScript">
			function pregunta(){
			    if (confirm('¿Estas seguro de modificar este articulo?')){
			       document.actualizar_articulo.submit()
    }
}
</script>
	<div class="container">
		<div class="row">
  			<div class="col-md-12">
  				<h2><center>Modificar Articulo</center></h2>


	<div class="row">
		{% if errors  %}
		{% include('partials/errors.twig') %}
		{% endif %}
		{% if result %}
				<div class="alert alert-success">Producto Modificado!</div>
		{% endif %}
	</div>
	<div class="row" style="margin-left: 5%;">
		<div class="col-md-12">
			<a href="{{'administrador/articulos' | url}}" class="btn btn-info btn-lg">
					<span class="glyphicon glyphicon-cog"></span> Administar
				</a>
				<a href="{{'administrador/articulos/agregar' | url}}" class="btn btn-info btn-lg">
					<span class="glyphicon glyphicon-plus"></span> Agregar
				</a>
				<a href="historial.php" class="btn btn-info btn-lg">
					<span class="glyphicon glyphicon-calendar"></span> Historial
		</a>
		<a href="estadistica.php" class="btn btn-info btn-lg">
			<span class="glyphicon glyphicon-stats"></span> Estadistica de Ventas
		</a>
		</div>
	</div>

		<form name="actualizar_articulo" class="form-horizontal" method="POST" enctype="multipart/form-data" action="{{'administrador/articulos/modificacion/' | url}}{{producto.PR_ID}}">

			<div class="form-group">
				<label for="id" class="col-sm-2 control-label">ID</label>
				<div class="col-sm-10">
					<p>{{producto.PR_ID}}</p>
					<p><input type="hidden" class="form-control" id="ID" name="ID" value="{{producto.PR_ID}}"></p>
				</div>
			</div>

				<div class="form-group">
					<label for="referencia" class="col-sm-2 control-label">Referencia</label>
						<div class="col-sm-10">
							<input type="number" class="form-control" id="referencia" name="referencia" placeholder="Numero de Referencia" value="{{producto.PR_referencia}}" required>
						</div>
				</div>

				<div class="form-group">
					<label for="nombre" class="col-sm-2 control-label">Nombre</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre del articulo" value="{{producto.PR_referencia}}" required>
					</div>
				</div>

				<div class="form-group">
					<label for="clientela" class="col-sm-2 control-label">Clientela</label>
					<div class="col-sm-10">
						<select class="selectpicker" id="clientela" name="clientela" required>
							<option value="Dama"{% if producto.PR_clientela == "Dama" %} selected>{% else %}>{% endif %}Dama</option>
					    	<option value="Caballero"{% if producto.PR_clientela == "Caballero" %} selected>{% else %}>{% endif %}Caballero</option>
						    	<option value="Ninos"{% if producto.PR_clientela == "Ninos" %} selected>{% else %}>{% endif %}Niños</option>
					    	<option value="Bebes"{% if producto.PR_clientela == "Bebes" %} selected>{% else %}>{% endif %}Bebés</option>
					    	<option value="Hogar"{% if producto.PR_clientela == "Hogar" %} selected>{% else %}>{% endif %}Hogar</option>
								<option value="Otros"{% if producto.PR_clientela == "Otros" %} selected>{% else %}>{% endif %}Otros</option>
						</select>
					</div>
				</div>


				<div class="form-group">
					<label for="categoria" class="col-sm-2 control-label">Categoria</label>
					<div class="col-sm-10">
						<select class="selectpicker" id="categoria" name="categoria" required>
							<option value="Ropa intima"{% if producto.PR_categoria == "intima" %} selected>{% else %}>{% endif %}Ropa Intima</option>
					    	<option value="Medias"{% if producto.PR_categoria == "Medias" %} selected>{% else %}>{% endif %}Medias</option>
								<option value="Camisa"{% if producto.PR_categoria == "Camisa" %} selected>{% else %}>{% endif %}Camisa</option>
								<option value="Pantalon"{% if producto.PR_categoria == "Pantalon" %} selected>{% else %}>{% endif %}Pantalon</option>
								<option value="Falda"{% if producto.PR_categoria == "Falda" %} selected>{% else %}>{% endif %}Falda</option>
					    	<option value="Pijamas"{% if producto.PR_categoria == "Pijamas" %} selected>{% else %}>{% endif %}Pijama</option>
					    	<option value="Traje de baño"{% if producto.PR_categoria == "Traje de baño" %} selected>{% else %}>{% endif %}>Traje de Baño</option>
						   	<option value="Accesorio"{% if producto.PR_categoria == "Accesorio" %} selected>{% else %}>{% endif %}Accesorio</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="talla" class="col-sm-2 control-label">Talla</label>
					<div class="col-sm-10">
							<select  class="selectpicker" id="talla" name="talla[]" multiple required>
							<option value="S"{% if producto.PR_talla == "S" %} selected>{% else %}>{% endif %}S</option>
							<option value="M"{% if producto.PR_talla == "M" %} selected>{% else %}>{% endif %}M</option>
							<option value="L"{% if producto.PR_talla == "L" %} selected>{% else %}>{% endif %}L</option>
							<option value="XL"{% if producto.PR_talla == "XL" %} selected>{% else %}>{% endif %}XL</option>
							<option value="XXL"{% if producto.PR_talla == "XXL" %} selected>{% else %}>{% endif %}XXL</option>
							<option value="3XL"{% if producto.PR_talla == "3XL" %} selected>{% else %}>{% endif %}3XL</option>
							<option value="4XL"{% if producto.PR_talla == "4XL" %} selected>{% else %}>{% endif %}4XL</option>
							<option value="5XL"{% if producto.PR_talla == "5XL" %} selected>{% else %}>{% endif %}5XL</option>
							<option value="6XL"{% if producto.PR_talla == "6XL" %} selected>{% else %}>{% endif %}6XL</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label for="color" class="col-sm-2 control-label">Color</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="color" name="color" placeholder="Color" value="{{producto.PR_color}}" required>
					</div>
				</div>

				<div class="form-group">
					<label for="marca" class="col-sm-2 control-label">Marca</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="marca" name="marca" placeholder="Marca" value="{{producto.PR_marca}}" required>
					</div>
				</div>


				<div class="form-group">
					<label for="material" class="col-sm-2 control-label">Material</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="material" name="material" placeholder="Material" value="{{producto.PR_color}}" required>
					</div>
				</div>

				<div class="form-group">
					<label for="descripcion" class="col-sm-2 control-label">Descripcion</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Descripcion" value="{{producto.PR_descripcion}}" required>
					</div>
				</div>

				<div class="form-group">
					<label for="cantidad" class="col-sm-2 control-label">Cantidad</label>
					<div class="col-sm-10">
						<p><input type="number" id="color" name="cantidad" required="required" placeholder="0" value="{{producto.PR_cantidad}}" required>Unidades</p>
					</div>
				</div>

				<div class="form-group">
					<label for="precio" class="col-sm-2 control-label">Precio por unidad</label>
					<div class="col-sm-10">
						<p><input type="number" step="0.01" name="precio" required="required" placeholder="0" value="{{producto.PR_precio}}" required>Unidades</p>
					</div>
				</div>


				<div class="form-group">
					<label for="archivo" class="col-sm-2 control-label">Imagen .jpeg</label>
					<div class="col-sm-10">
										<input name="archivo[]" id="archivo[]" multiple="" class="form-control" accept="image/jpg" type="file"/ required>
										{{ path }}
					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<a href="administracion_articulos.php" class="btn btn-default">Regresar</a>
						<button type="submit" class="btn btn-primary" onclick="pregunta()" >Guardar</button>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
	{% endblock %}
